/* Основные стили для всех страниц */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

section {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0 auto;
  padding: 0;
}

/* Кнопки */
/* коричневая кнопка-ссылка */
.link-button {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 34px;
  background-color: #756157;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

.link-button:hover {
  background-color: #615048;
  color: white;
}

.link-button:focus {
  background-color: #615048;
}

.link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* голубая кнопка-действие */
button {
  margin: 0;
  border: 0;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #68A2CA;
}

button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

button:focus {
  background-color: #68A2CA;
}

.submit-container button {
  padding: 8px 50px;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

button.active {
  background-color: #7DB54F;
}

button.active:hover {
  background-color: #6C9E42;
}

button.active:focus {
  background-color: #6C9E42;
}

button.active:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

/* Кнопки поиска */
.submit-container .submit {
  background-color: #82B3D3;
}

.submit-container .submit:hover {
  background-color: #68A2CA;
}

.submit-container .submit:focus {
  background-color: #68A2CA;
}

.submit-container .submit:active {
  background-color: #82B3D3;
}

.submit-container .reset {
  background-color: transparent;
  border: 3px solid transparent;
}

.submit-container .reset:hover {
  opacity: 60%;
  border: 3px solid transparent;
}

.submit-container .reset:focus {
  border: 3px solid #83B3D3;
}

.submit-container .reset:active {
  opacity: 30%;
  border: 3px solid transparent;
}

.favorite-list:hover {
  color: transparent;
  background-color: transparent;
}

/* Верхнее меню */
.main-header {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 64px;
}

.main-nav .logo {
  margin: 0;
  margin-right: 28px;
  align-self: flex-start;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.main-navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: black;
  padding: 20px 16px;
}

.main-navigation-item:hover,
.main-navigation-item.active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-position: under;
  text-underline-offset: 19px;
  color: black;
}

.user-panel {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.search-link {
  box-sizing: border-box;
  padding: auto;
  width: 44px;
  height: 64px;
  margin: 0;
  cursor: pointer;
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.favorite-list {
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  padding: 24px 13px 23px;
  margin-right: 20px;
  background-image: url("../img/heart.svg");
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.notifications {
  position: absolute;
  bottom: 23px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* основной блок */
main {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.hero {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.hero-img {
  margin-top: 51px;
}

/* Главная*/
.hero-main {
  background-image: url("../img/zipline.svg"),
    url("../img/index-background.png");
  height: 485px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages {
  margin-bottom: 64px;
}

.advantages .section-title {
  margin-bottom: 25px;
}

.advantages-main-text {
  margin-bottom: 90px;
  text-align: center;
}

.advantages ul {
  display: grid;
  grid-template-columns: repeat (3, 400px)
}

.advantages-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.advantages-title,
.advice-title {
  max-width: 175px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-transform: uppercase;
  order: -1;
}

.advantages-item-content {
  width: 400px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* псевдоэлемент - декоративная линия */
.advantages-item-content::after {
  content: "";
  width: 60px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-item-1 .advantages-item-content::after {
  content: "";
  width: 60px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-item-5 .advantages-item-content::after {
  content: "";
  width: 60px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

/* конец псевдоэлементов */

.advantages-text,
.advice-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 230px;
  order: 1;
}

.advantages-item-1,
.advantages-item-5 {
  grid-column: 1/4;
  background-color: #82B3D3;
}

.advantages-item-1 .advantages-item-content,
.advantages-item-5 .advantages-item-content {
  color: white;
}

.advantages-item-5 {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advice-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
}

.welcome-title,
.subscribe-title,
.booking-title {
  margin-bottom: 20px;
}

.welcome-text {
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.advice-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding-bottom: 81px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 81px;
}

.homes {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../img/home.svg);
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../img/gift.svg);
}

.food {
  background-image: url(../img/food.svg);
}

.booking-text,
.subscribe-text {
  margin-bottom: 54px;
  text-align: center;
}

.booking-button {
  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 96px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding: 8px 50px;
}

.subscribe {
  display: flex;
  box-sizing: border-box;
  padding: 96px 40px 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-main {
  background-image: url("../img/subscribe-background.jpg");
  background-position: top;
  background-size: 100%;
  color: white;
}

.subscribe-text {
  width: 475px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;

}

.subscibe-form {
  display: flex;
  margin-bottom: 104px;
}

.subscribe input {
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding: 14px 20px;
  border: 0;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #F2F2F2;
}

.subscribe button {
  box-sizing: border-box;
  width: 232px;
  height: 52px;
  border-radius: 0px 4px 4px 0;
}

/* Подвал */
footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 70px 30px 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  width: 142px;
  height: 50px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-item {
  width: 33%;
}

.social-item a {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.social-item svg {
  fill: #83B3D3;
}

.social-item svg:hover,
.social-item svg:focus {
  fill: #68A2CA;
  border: 0;
}

.social-item svg:active {
  fill: rgba(104, 162, 202, 0.3);
  border: 0;
}

footer .phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: black;
}

footer .phone:hover,
footer .phone:focus {
  color: #756157;
  border: 0;
}

footer .phone:active {
  color: rgba(117, 97, 87, 0.3);
  border: 0;
}

.copyright {
  height: 50px;
  display: flex;
  align-items: center;
}

.copyright svg {
  fill: black;
}

.copyright svg:hover,
.copyright svg:focus {
  fill: #756157;
}

.copyright svg:active {
  fill: rgba(117, 97, 87, 0.3) border: 0;
}

/* Каталог */
/* Форма поиска */
.catalog-hero {
  background-image: url(../img/catalog-background.jpg);
  padding: 70px;
  padding-top: 35px;
  margin: 0;
}

.page-title {
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 8px;
}

/* хлебные крошки */

.breadcrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  align-items: center;
  color: white;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  list-style-type: ">";
  margin-left: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.breadcrumb:first-child {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumb:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumb:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-form {
  display: flex;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  gap: 16px;
}

.catalog-hero legend {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.infrastructure-container {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.house-type-container {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

label:hover {
  opacity: 60%;
}

label:active {
  opacity: 30%;
}

.price-container {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}
.range-wrapper-inputs {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  display: flex;
}
.range-input {
  box-sizing: border-box;
  width: 143px;
  height: auto;
  padding: 12px 20px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  cursor: text;
  border: 0;
  box-shadow: none;
}
.min-price {
  border-radius: 4px 0px 0px 4px;
  margin-right: 2px;
}
/*не получилось*/
.min-price::before {
  content: "от";
font-family: 'PT Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: right;
opacity: 30%;
color: black;
}
.max-price {
  border-radius: 0px 4px 4px 0px;
}

.range-scale {
  position:relative;
  width: 287px;
  height: 4px;
  border: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  top: -8px;
}
.range-toggle:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.toggle-min {
  left: 0px;
}
.toggle-max {
  left: 226px;
}
.catalog-hero label {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  cursor: pointer;
}
.infrastructure-container input {
    margin: 0;
    padding: 0;
    margin-right: 16px;
}

.submit-container {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}

.hotels {
  margin: 0;
  padding: 50px 70px 60px;
}

.hotels-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.hotels-header-title {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.hotels-header form {
  margin: 0;
  margin-right: 70px;
}

.price-sort {
  box-sizing: border-box;
  display: block;
  width: 292px;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  /*стилизация стрелки*/
  appearance: none; /*-убираем стандартную стрелку*/
  overflow: hidden;
  background: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.price-sort:hover {
  border: 2px solid #68A2CA;
}

.price-sort:focus {
  border: 2px solid #68A2CA;
}

/* Список отелей */
.view-list {
  display: flex;
  gap: 8px;
}

/* Кнопки сортировки */
.hotels-header .button-view {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.hotels-header .button-view:hover,
.hotels-header .button-view:active {
  border-color: black;
  background-color: white;
}

.hotels-header .button-view:focus,
.hotels-header .button-view.active:focus {
  border-color: #68A2CA;
  background-color: white;
}

.hotels-header .button-view.active {
  border-color: black;
  background-color: white;
}

/* список отелей гридом */
.hotels-list.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotels-list.grid .hotels-list-item {
  box-sizing: border-box;
  width: 340px;
  min-height: 438px;
  margin: 0;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-list.grid .hotel-photo {
  width: 300px;
  margin: 0;
  margin-bottom: 16px;
}

.hotels-list.grid .hotel-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.hotels-list.grid .price-container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotels-list.grid .links-container {
  box-sizing: border-box;
  width: 300px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotels-list.grid .link-button {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 26px;
}

.hotels-list.grid .favorite {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  padding: 8px auto;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
}

.hotels-list.grid .rating-container {
  box-sizing: border-box;
  width: 300px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.hotels-list.grid .star-container {
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 0;
}

.hotels-list.grid .rating-text {
  box-sizing: border-box;
  display: block;
  width: 140px;
  margin: 0;
  padding: 9px 23px 8px 22px;
  border: 0;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Пагинация */

.pagination {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  display: flex;
  gap: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: white;
}

.pagination-link:hover {
  background-color: #68A2CA;
  color: white;
}

.pagination-link:focus {
  background-color: #68A2CA;
  color: white;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-divider {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: black;
}

.pagination-divider:hover {
  color: black;
  cursor: default;
}

.pagination-link.active {
  background-color: #F2F2F2;
  color: black;
  cursor: default;
}
